.welcome-container {
    padding: 5% 20%;
    text-align: center;
}

.login-container {
    padding: 5% 20%;
    text-align: center;
}

.content-container {
    padding-top: 4%;
    text-align: center;
}
