.welcome-container {
    padding: 5% 20%;
    text-align: center;
}

.login-container {
    padding: 5% 20%;
    text-align: center;
}

.content-container {
    text-align: center;
    padding-top: 2%;
}

.container-margin-top {
    margin-top: 2%;
}

.container-padding-top {
    padding-top: 2%;
}
